@model Ganesh_tiles.Model.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.emp_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_Dsgn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_Dsgn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_Salary)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
